<h1><%= @curia.name %></h1>

<p><%= @curia.location %></p>

<p><%= @curia.date_created %></p>

<p>Number of Praesidia: <%= @curia.praesidia.size %> </p>

<ul>
    <li><%= link_to "Edit", edit_curia_path(@curia) %></li>
    <li><%= link_to "Destroy", curia_path(@curia), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<%= link_to "View All", curiae_path %>
